**การแสดงข้อความในหน้าจอ Command Line (cmd)**

In [20]:
print('Olarik')  # สามารถใช้ Single Quota ในการแสดงข้อความ
print("Olarik")  # สามารถใช้ Double Quota ในการแสดงข้อความ

print('Olarik Surinta, Lecturer')

Olarik
Olarik
Olarik Surinta, Lecturer

**การสร้าง comment ในโปรแกรม python**  
comment จะไม่แสดงผลในหน้าจอ (Monitor)

In [0]:
# Single Line Comment

# การคอมเมนต์ใน Python แบบบรรทัดเดียวให้ใช้เครื่องหมาย hash (#)

In [0]:
'''
การคอมเมนต์แบบหลายบรรทัด 
ให้ใช้เครื่องหมาย Single Quote จำนวน 3 อัน หรือ 
ใช้เครื่องหมาย Double Quote จำนวน 3 อัน
'''

**การกำหนดตัวแปร**

In [0]:
# การกำหนดตัวแปรแบบ string (str)
# ให้ใช้เครื่องหมาย Single Quota ครอบตัวอักษร (string) 
# เพื่อกำหนดว่าตัวแปรนั้นเป็นแบบ string

name = 'Olarik'

In [0]:
# การกำหนดตัวแปรแบบ interger (int)

age = 40

In [0]:
# การกำหนดตัวแปรแบบ floating point (float)

weight = 65.3

**การตรวจสอบประเภทของตัวแปร **  
ใช้ Built-in function ชื่อ **type()  **

In [17]:
# แสดงประเภทข้อมูลของตัวแปร name
# ตัวแปรประเภท string (str)
print(type(name))

<class 'str'>

In [18]:
# แสดงประเภทข้อมูลของตัวแปร age
# ตัวแปรประเภท integer (int)
print(type(age))

<class 'int'>

In [19]:
# แสดงประเภทข้อมูลของตัวแปร weight
# ตัวแปรประเภท floating point (float)
print(type(weight))

<class 'float'>

**การแสดงผลค่าของตัวแปร - value**

In [21]:
print('Your name is ', name)
print('Your age is ', age)
print('Your weight is ', weight)

Your name is  Olarik
Your age is  40
Your weight is  65.3

In [27]:
print('My name is ', name, ', I\' m', age, 'years old')
print('My weight is ', weight, 'kg.')

My name is  Olarik , I' m 40 years old
My weight is  65.3 kg.

**การรับค่าจากคีย์บอร์ด - input**

In [30]:
input('What\'s your name? ')

What's your name? Olarik

'Olarik'

**สร้างตัวแปร (variable) เพื่อเก็บค่าที่รับจากคีย์บอร์ด**

In [31]:
name = input('What\'s your name? ')

print('My name is ', name)

What's your name? Olarik
My name is  Olarik

**ตรวจสอบประเภทของตัวแปรที่รับมาจากคีย์บอร์ด**  
ค่าที่รับจากคีย์บอร์ดจะเป็นประเภท string

In [32]:
name = input('What\'s your name? ')

print(type(name))

What's your name? Olarik
<class 'str'>

In [33]:
age = input('How old are you? ')

print(type(age))

How old are you? 40
<class 'str'>

**การเปลี่ยนประเภทของข้อมูล**

In [39]:
# การเปลี่ยนจาก string ให้เป็น integer

# กรณีนี้ตัวแปร age เก็บข้อมูล '40' ในรูปแบบของ string
age = '40'
print(type(age))

# ใช้ built-in function ที่ชื่อ int()
# การเปลี่ยนประเภทจาก string ให้เป็น integer ใช้ได้เฉพาะในกรณีที่ป้อนข้อมูลจากคีย์บอร์ดเป็นตัวเลขเท่านั้น
age = int(age)  
print(type(age))

<class 'str'>
<class 'int'>

In [41]:
# กรณีนี้ตัวแปร age เก็บข้อมูล 'ten' ซึ่งเป็นข้อมูลแบบ string 
# จึงไม่สามารถแปลงให้เป็น integer ได้
age = 'ten'

age = int(age)

ValueError: ignored

**การกำหนดเงื่อนไขแบบ if - if condition**    
**if** จะทำงานในกรณีที่เป็นจริง (True) เท่านั้น

In [46]:
age = input('How old are you? ')
age = int(age)

if(age < 20):
  print('You\'re very young')

How old are you? 19
Your're very young

In [48]:
# if condition จะมีแค่เงื่อนไขที่เป็นจริง (True) เงื่อนไขเดียวเท่านั้น 
# ดังนั้น หากกรอกตัวเลขอายุมากกว่าหรือเท่ากับ (>=) 20 จึงไม่เข้าเงื่อนไข
age = input('How old are you? ')
age = int(age)

if(age < 20):
  print('You\'re very young')

How old are you? 30

**การกำหนดเงื่อนไขแบบ if-else -- if-else condition**    
**if** จะทำงานในกรณีที่เป็นจริง (True) เท่านั้น  
ดังนั้น **else**  จะทำงานเมื่อเป็นเท็จ (False)

In [51]:
# กรณีที่กรอกข้อมูล age ให้มีค่าเป็น 20 จะมีเงื่อนไขเป็นจริง (True) จึงเข้าเงื่อนไขแรก
age = input('How old are you? ')
age = int(age)

if(age <= 20):
  print('You\'re very young')
else:
  print('You\'re not too youg')

How old are you? 20
You're very young

In [52]:
# กรณีที่กรอกข้อมูล age ให้มีค่าเป็น 30 จะมีเงื่อนไขเป็นเท็จ (False) จึงเข้าเงื่อนไขที่สอง (else)
age = input('How old are you? ')
age = int(age)

if(age <= 20):
  print('You\'re very young')
else:
  print('You\'re not too youg')

How old are you? 30
You're not too youg

**การกำหนดเงื่อนไขแบบ if-else-if -- if-else-if condition**    
**if** จะทำงานในกรณีที่เป็นจริง (True) เท่านั้น  
**else-if**  จะทำงานเมื่อเป็นจริง (True) เท่านั้น  
แต่ **else** จะทำงานเมื่อเป็นเท็จ (False)

In [57]:
score = input('Please input your Exam score: ')
score = int(score)

if(score > 100):
  print('Error')
elif(score > 80):
  print('Your grade is A')
elif(score > 70):
  print('Your grade is B')
elif(score > 60):
  print('Your grade is C')
else:
  print('Your grade is F')

Please input your Exam score: 120
Error

In [58]:
score = input('Please input your Exam score: ')
score = int(score)

if(score > 100):
  print('Error')
elif(score > 80):
  print('Your grade is A')
elif(score > 70):
  print('Your grade is B')
elif(score > 60):
  print('Your grade is C')
else:
  print('Your grade is F')

Please input your Exam score: 85
Your grade is A

In [60]:
score = input('Please input your Exam score: ')
score = int(score)

if(score > 100):
  print('Error')
elif(score > 80):
  print('Your grade is A')
elif(score > 70):
  print('Your grade is B')
elif(score > 60):
  print('Your grade is C')
else:
  print('Your grade is F')

Please input your Exam score: 75
Your grade is B

In [61]:
score = input('Please input your Exam score: ')
score = int(score)
10
if(score > 100):
  print('Error')
elif(score > 80):
  print('Your grade is A')
elif(score > 70):
  print('Your grade is B')
elif(score > 60):
  print('Your grade is C')
else:
  print('Your grade is F')

Please input your Exam score: 10
Your grade is F